<div class="info">
  <div class="container info__first-part">
    <img [src]="infoImagePath" alt="info image" class="info__image">
    <h3 class="info__heading">
      <b>Still need more
        <br class="visible-xs" /> information?</b>
    </h3>
    <p class="info__resource-text">Check out our resources page to
      <br class="visible-xs" /> find what you’re looking for.</p>
    <a href="#" class="info__contacts-link">See our helpful resources »</a>
  </div>
  <div class="info__separator"></div>
  <div class="container info__second-part">
    <p class="info__contacts-text">If you still need help and need to speak to a member of our team you can do so by:</p>
    <a class="info__email-link" href="mailto:employerdedicatedteam@landg.com">employerdedicatedteam@landg.com</a>
    <br class="visible-xs">
    <a class="info__phone-link" href="tel:0345-070-8686">0345 070 8686</a>
  </div>
</div>