<header [class.opened]="opened">
    <div class="container">
        <div class="row">
            <img class="lng-logo" [src]="logoImage" alt="logo">
            <div class="col-sm-8 col-md-9 header-menu-wrapper">
                <div class="row">
                    <div class="header-links hidden-xs">
                        <a href="#" class="header-link">Helpful resources</a>
                        <a href="#" class="header-link">Manage your account</a>
                        <a href="#" class="header-link">Contact us</a>
                    </div>

                    <button (click)="toggleOpenedCondition()" class="visible-xs navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <app-navbar [active]="opened"></app-navbar>
                </div>
            </div>
        </div>
    </div>

</header>