<div class="planning-tab">
  <p class="nav-link clickable-item second-level text-uppercase planning-tab__heading">planning tools</p>
  <div class="sub-menu-collapsable second-level planning-tab__content">
      <img [src]="piggyImage" alt="planning tools" class="planning-tab__image">
      <p class="planning-tab__title">
          How much will you need?
      </p>
      <a class="planning-tab__link nav-link text-justify third-level" href="#">
          Use our online tool to help you plan for your future »
      </a>
  </div>
</div>
