<div class="preview-block">
  <div class="container greetings-window">
    <h1>
      <b>Preparing for
        <br class="visible-xs" /> tomorrow
        <br class="hidden-xs" /> while
        <br class="visible-xs" /> you work for today.</b>
    </h1>
    <p class="question-text">
      <b>Where do you fit in our 4 step
        <br class="visible-xs" /> pension journey?</b>
    </p>
    <div class="row hidden-xs">
      <button class="lng-button">Find out now »</button>
    </div>
  </div>

  
  <img class="greetings-image" [src]="greetingImagePath" alt="greetings" />
</div>
<div class="pull-left triangle-row-wrapper first">
  <div class="triangle-row"></div>
</div>
<div class="pull-right triangle-row-wrapper second">
  <div class="triangle-row"></div>
</div>
<div class="clearfix"></div>
<div class="container visible-xs button-wrapper">
  <button class="lng-button">Find out now »</button>
</div>