<div class="image-carousel container">
    <div class="vertical-line"></div>
    <div class="image-carousel__outer-wrapper">
        <div class="image-carousel__inner-wrapper clearfix">
            <div *ngFor='let item of itemList' class="image-carousel__item">
                <img class="image-carousel__image" [src]="makeImagePath(item.image)" alt="Managing your pension">
                <a class="image-carousel__title-link" href="#">Managing your pension pot »</a>
                <p class="image-carousel__link-description">Lorem ipsum dolor sit amet, consector adipising elit, sed do.</p>
            </div>
        </div>
    </div>
    <button (click)="onClick('left')" class="image-carousel__left-button"></button>
    <button (click)="onClick('right')" class="image-carousel__right-button appeared"></button>
</div>