<div class="smart-carousel container">
  <div class="vertical-line"></div>
  <div class="smart-carousel__outer-wrapper">
      <div class="smart-carousel__inner-wrapper clearfix">
          <div class="smart-carousel__item">
              <img class="smart-carousel__image" src="dist/img/photo_1_mini.jpg" alt="Managing your pension">
              <a class="smart-carousel__link-main" href="#">Managing your pension pot »</a>
              <p class="smart-carousel__link-description">Lorem ipsum dolor sit amet, consector adipising elit, sed do.</p>
          </div>
          <div class="smart-carousel__item">
              <img class="smart-carousel__image" src="dist/img/photo_12_mini.jpg" alt="Reviewing your choices">
              <a class="smart-carousel__link-main" href="#">Reviewing your choices »</a>
              <p class="smart-carousel__link-description">Lorem ipsum dolor sit amet, consector adipising elit, sed do.</p>
          </div>
          <div class="smart-carousel__item">
              <img class="smart-carousel__image" src="dist/img/photo_4_mini.jpg" alt="Getting your pensions into one place">
              <a class="smart-carousel__link-main" href="#">Getting your pensions into one place »</a>
              <p class="smart-carousel__link-description">Lorem ipsum dolor sit amet, consector adipising elit, sed do.</p>
          </div>
          <div class="smart-carousel__item">
              <img class="smart-carousel__image" src="dist/img/photo_2_mini.jpg" alt="managing your pension">
              <a class="smart-carousel__link-main" href="#">Investing your pension pot »</a>
              <p class="smart-carousel__link-description">Lorem ipsum dolor sit amet, consector adipising elit, sed do.</p>
          </div>
          <div class="smart-carousel__item">
              <img class="smart-carousel__image" src="dist/img/photo_10_mini.jpg" alt="managing your pension">
              <a class="smart-carousel__link-main" href="#">Managing your pension pot »</a>
              <p class="smart-carousel__link-description">Lorem ipsum dolor sit amet, consector adipising elit, sed do.</p>
          </div>
      </div>
  </div>
  <div class="smart-carousel__left-button"></div>
  <div class="smart-carousel__right-button appeared"></div>
  
</div>
