<div class="navbar-collapsable" [class.active]="active">
  <ul class="navbar-nav header-menu">
      <li class="nav-item clickable-item first-level">
          <a class="nav-link opener header-menu-link" href="#">First step
              <span class="hidden-sm hidden-md hidden-lg lng-chevron">»</span>
          </a>
      </li>

      <li class="nav-item clickable-item first-level">
          <a class="nav-link opener header-menu-link" href="#">
              On your way
              <span class="hidden-sm hidden-md hidden-lg lng-chevron">»</span>
              <div class="triangle-with-shadow"></div>
          </a>

          <div class="sub-menu sub-menu-collapsable first-level">
              <div class="container">
                  <div class="sub-menu__inner-wrapper">
                      <div class="row">
                          <div class="col-sm-4 sub-menu__content">
                              <ul class="nav sub-menu__column">
                                  <li class="nav-heading hidden-xs">explore your pension:</li>
                                  <li>
                                      <a class="nav-link" href="#">
                                          <b>Managing your pension pot
                                              <span class="visible-xs-inline">»</span>
                                          </b>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="nav-link" href="#">
                                          <b>Reviewing your choices
                                              <span class="visible-xs-inline">»</span>
                                          </b>
                                      </a>
                                  </li>
                                  <li>
                                      <a class="nav-link" href="#">
                                          <b>Getting you pensions into one place
                                              <span class="visible-xs-inline">»</span>
                                          </b>
                                      </a>
                                  </li>

                                  <li class="clickable-item second-level">
                                      <a class="nav-link opener" href="#">
                                          <b>Investing your pension pot</b>
                                          <span class="hidden-sm hidden-md hidden-lg lng-chevron">
                                              <b>»</b>
                                          </span>
                                      </a>
                                      <div class="sub-menu-collapsable second-level">
                                          <a class="nav-link third-level" href="#">Balancing risk and reward
                                              <span class="visible-xs-inline">»</span>
                                          </a>
                                          <a class="nav-link third-level" href="#">Making your own investment choices
                                              <span class="visible-xs-inline">»</span>
                                          </a>
                                          <a class="nav-link third-level" href="#">Your investment options
                                              <span class="visible-xs-inline">»</span>
                                          </a>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-sm-4 sub-menu__content">
                              <ul class="nav sub-menu__column">
                                  <li class="clickable-item second-level">
                                      <a class="nav-link opener nav-heading">useful information
                                          <span class="hidden-xs">:</span>
                                      </a>

                                      <div class="sub-menu-collapsable second-level">
                                          <a class="nav-link third-level" href="#">How I can manage my pension savings
                                              <span class="visible-xs-inline">»</span>
                                          </a>
                                          <a class="nav-link third-level" href="#">What I need to think about now
                                              <span class="visible-xs-inline">»</span>
                                          </a>
                                          <a class="nav-link third-level" href="#">How to get my pensions in one place
                                              <span class="visible-xs-inline">»</span>
                                          </a>
                                          <a class="nav-link third-level" href="#">Are my investments right for me
                                              <span class="visible-xs-inline">»</span>
                                          </a>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-sm-4 sub-menu__content">
                              <app-planning-tools></app-planning-tools>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </li>

      <li class="nav-item clickable-item first-level">
          <a class="nav-link opener header-menu-link" href="#">Getting there
              <span class="hidden-sm hidden-md hidden-lg lng-chevron">»</span>
          </a>
      </li>
      <li class="nav-item clickable-item first-level">
          <a class="nav-link opener header-menu-link" href="#">Arriving
              <span class="hidden-sm hidden-md hidden-lg lng-chevron">»</span>
          </a>
      </li>
  </ul>
  <section class="header-links mobile">
      <a href="#" class="header-link">Helpful resources
          <span class="visible-xs-inline">»</span>
      </a>
      <a href="#" class="header-link">Manage your account
          <span class="visible-xs-inline">»</span>
      </a>
      <a href="#" class="header-link">Contact us
          <span class="visible-xs-inline">»</span>
      </a>
  </section>
</div>