<main>
  <app-preview-block></app-preview-block>

  <section class="container steps-section">
    <div class="steps-header">
      <div class="steps-header__board">the pension journey</div>
      <p class="steps-header__text visible-xs">
        As a valued member of the pensions scheme, we want to make sure you can access all the information you need.
      </p>
    </div>
    <div class="pull-left hidden-xs steps-photo">
      <img class="steps-photo__first" src="dist/img/photo_6.jpg" alt="steps-photo">
      <div class="steps-photo__message">As a valued member of the pensions scheme, we want to make sure you can access all the information you need.</div>
      <img class="steps-photo__second first-step-item" src="dist/img/photo_8.jpg" alt="steps-photo">
      <img class="steps-photo__second second-step-item" src="dist/img/photo_5.jpg" alt="steps-photo">
      <img class="steps-photo__second third-step-item" src="dist/img/photo_9.jpg" alt="steps-photo">
      <img class="steps-photo__second fourth-step-item" src="dist/img/photo_10.jpg" alt="steps-photo">
    </div>

    <div class="step-items">
      <div class="step-item first-step-item">
        <div class="step-item__header">
          <p class="step-item__heading">Step 1</p>
          <p class="step-item__about-text">First step
            <span class="lng-chevron"> »</span>
            <span class="step-item__close-button"></span>
          </p>
          <div class="step-item__triangle-helper"></div>
          <div class="step-item__header-image step-1-image"></div>
        </div>
        <div class="step-item__content">
          <p class="step-item__main-text">
            Now you're saving for your future, you should think about:
          </p>
          <ul class="step-item__list blue-dots-list">
            <li>
              <span>Investing your pension pot</span>
            </li>
            <li>
              <span>Bringing your pension savings together</span>
            </li>
            <li>
              <span>Using our range of tools to help you plan</span>
            </li>
            <li>
              <span>Nominating a beneficiary</span>
            </li>
          </ul>
          <button class="lng-button">Learn more </button>

          <div class="info-block first-palette">
            <p class="text-uppercase info-block__heading">planning tools</p>
            <div class="info-block__content">
              <img src="dist/img/piggy-bank.png" alt="info block" class="info-block__image">
              <p class="info-block__title">
                How much will you need?
              </p>
              <a class="info-block__link text-justify" href="#">
                Use our online tool to help you plan for your future »
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="step-item second-step-item">
        <div class="step-item__header">
          <p class="step-item__heading">Step 2</p>
          <p class="step-item__about-text">On your way
            <span class="lng-chevron"> »</span>
            <span class="step-item__close-button"></span>
          </p>
          <div class="step-item__triangle-helper"></div>
          <div class="step-item__header-image step-2-image"></div>
        </div>
        <div class="step-item__content">
          <p class="step-item__main-text">
            Now you're saving for your future, you should think about:
          </p>
          <ul class="step-item__list blue-dots-list">
            <li>
              <span>Investing your pension pot</span>
            </li>
            <li>
              <span>Bringing your pension savings together</span>
            </li>
            <li>
              <span>Using our range of tools to help you plan</span>
            </li>
            <li>
              <span>Nominating a beneficiary</span>
            </li>
          </ul>
          <button class="lng-button">Learn more </button>

          <div class="info-block second-palette">
            <p class="text-uppercase info-block__heading">planning tools</p>
            <div class="info-block__content">
              <img src="dist/img/piggy-bank.png" alt="info block" class="info-block__image">
              <p class="info-block__title">
                How much will you need?
              </p>
              <a class="info-block__link text-justify" href="#">
                Use our online tool to help you plan for your future »
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="step-item third-step-item">
        <div class="step-item__header">
          <p class="step-item__heading">Step 3</p>
          <p class="step-item__about-text">Getting there
            <span class="lng-chevron"> »</span>
            <span class="step-item__close-button"></span>
          </p>
          <div class="step-item__triangle-helper"></div>
          <div class="step-item__header-image step-3-image"></div>
        </div>
        <div class="step-item__content">
          <p class="step-item__main-text">
            Now you're saving for your future, you should think about:
          </p>
          <ul class="step-item__list blue-dots-list">
            <li>
              <span>Investing your pension pot</span>
            </li>
            <li>
              <span>Bringing your pension savings together</span>
            </li>
            <li>
              <span>Using our range of tools to help you plan</span>
            </li>
            <li>
              <span>Nominating a beneficiary</span>
            </li>
          </ul>
          <button class="lng-button">Learn more </button>

          <div class="info-block third-palette">
            <p class="text-uppercase info-block__heading">planning tools</p>
            <div class="info-block__content">
              <img src="dist/img/piggy-bank.png" alt="info block" class="info-block__image">
              <p class="info-block__title">
                How much will you need?
              </p>
              <a class="info-block__link text-justify" href="#">
                Use our online tool to help you plan for your future »
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="step-item fourth-step-item">
        <div class="step-item__header">
          <p class="step-item__heading">Step 4</p>
          <p class="step-item__about-text">Arriving
            <span class="lng-chevron"> »</span>
            <span class="step-item__close-button"></span>
          </p>
          <div class="step-item__triangle-helper"></div>
          <div class="step-item__header-image step-4-image"></div>
        </div>
        <div class="step-item__content">
          <p class="step-item__main-text">
            Now you're saving for your future, you should think about:
          </p>
          <ul class="step-item__list blue-dots-list">
            <li>
              <span>Investing your pension pot</span>
            </li>
            <li>
              <span>Bringing your pension savings together</span>
            </li>
            <li>
              <span>Using our range of tools to help you plan</span>
            </li>
            <li>
              <span>Nominating a beneficiary</span>
            </li>
          </ul>
          <button class="lng-button">Learn more </button>

          <div class="info-block fourth-palette">
            <p class="text-uppercase info-block__heading">planning tools</p>
            <div class="info-block__content">
              <img src="dist/img/piggy-bank.png" alt="info block" class="info-block__image">
              <p class="info-block__title">
                How much will you need?
              </p>
              <a class="info-block__link text-justify" href="#">
                Use our online tool to help you plan for your future »
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
    <div class="steps-footer hidden-xs"></div>
  </section>

  <section class="info">
    <div class="container info__first-part">
      <img src="dist/img/info.png" alt="info image" class="info__image">
      <h3 class="info__heading">
        <b>Still need more
          <br class="visible-xs" /> information?</b>
      </h3>
      <p class="info__resource-text">Check out our resources page to
        <br class="visible-xs" /> find what you’re looking for.</p>
      <a href="#" class="info__contacts-link">See our helpful resources »</a>
    </div>
    <div class="info__separator"></div>
    <div class="container info__second-part">
      <p class="info__contacts-text">If you still need help and need to speak to a member of our team you can do so by:</p>
      <a class="info__email-link" href="mailto:employerdedicatedteam@landg.com">employerdedicatedteam@landg.com</a>
      <br class="visible-xs">
      <a class="info__phone-link" href="tel:0345-070-8686">0345 070 8686</a>
    </div>
  </section>
</main>
