@import "variables";
@import "mixins";

$header-mobile-height: 55px;

.navbar-collapsable {
    @media screen and (max-width: $xs-max) {
      background-color: $white;
      border-bottom: 2px solid $blue;
      padding: 0;
      display: none;
  
      .nav-link,
      .nav-heading {
        padding: 10px 20px;
      }
      .nav-link:not(.third-level),
      .nav-heading:not(.third-level),
      .header-links.mobile {
        border-top: 1px solid $gray-light;
      }
    }
  
    .nav-link {
      cursor: pointer;
  
      @media screen and (min-width: $sm-min) {
        &:not(.header-menu-link) {
          padding: 0;
          font-size: 14px;
        }
      }
    }
  
    .navbar-nav {
      .nav-item {
        list-style-type: none;
        text-align: left;
        &:first-of-type {
          .nav-link {
            @media screen and (max-width: $xs-max) {
              border: none;
            }
          }
        }
        @media screen and (min-width: $sm-min) {
          width: 28%;
          text-align: center;
          &:last-child {
            width: 16%;
            text-align: right;
          }
        }
        .header-menu-link {
          font-size: 20px;
          font-weight: bold;
          color: $black;
          @media screen and (max-width: $sm-max) {
            font-size: 16px;
          }
          @media screen and (max-width: $xs-max) {
            font-size: 24px;
            display: block;
          }
        }
        .sub-menu-section {
          width: 100%;
          z-index: 99;
          text-align: inherit;
          border-radius: 0;
          border: 0;
          padding: 0;
          margin: 0;
          background-color: $white;
          @media screen and (min-width: $sm-min) {
            position: absolute;
            left: 0;
            top: 96px;
            border-top: 4px solid $blue;
            opacity: 0.9;
            @include box-shadow(0px,
            9px,  
            21px,
            -2px,
            rgba(0,
            0,
            0,
            0.5));
          }
          .nav-link {
            &:not(.sub-menu-collapsable) {
              display: block;
            }
            &:not(.planning-tools__heading) {
              color: $black;
            }
            &.additional {
              padding-bottom: 12px;
              @media screen and (min-width: $sm-min) {
                &:last-of-type {
                  padding-bottom: 0 !important;
                }
              }
            }
            &:hover {
              color: $yellow;
            }
          }
          .sub-menu-content {
            &:first-of-type {
              border-right: 2px solid $gray-light;
            }
            @media screen and (max-width: $xs-max) {
              padding: 0;
              &:first-of-type {
                border-width: 0;
              }
            }
          }
          .sub-menu-wrapper {
            line-height: 1.1;
            max-width: 950px;
            margin: auto;
            @media screen and (min-width: $sm-min) {
              padding: 20px 0;
            }
            .sub-menu-column {
              text-align: left;
  
              @media screen and (min-width: $sm-min) {
                .nav-heading,
                .nav-link {
                  padding-bottom: $spacer;
                }
              }
              .nav-heading {
                @media screen and (min-width: $sm-min) {
                  &:hover {
                    cursor: default;
                    color: $yellow;
                  }
                }
                font-size: 13px;
                text-transform: uppercase;
                color: $yellow !important;
              }
            }
          }
        }
      }
    }
  }