$xs-max: 767px;
$sm-min: 768px;
$sm-max: 991px;
$md-min: 992px;
$md-max: 1199px;
$lg-min: 1200px;
$spacer: 15px;
$button-height: 50px;

$blue: #0099cc; // 1
$blue-light: #009fe3;
$green: #00aa55; // 2
$black: #000; // 3
$white: #fff; // 4
$gray: #666666; //gray  // 5
$yellow: #ffcc00;
$gray-lighter: #f5f5f5; // gray-lighter  // 6
$gray_alt: #c0c0c0; //$gray_alt  // 7
$white: #fff;
$gray-dark: #333333;

$gray-light: #e6e6e6; //$gray-light