<div class="planning-tools">
  <p class="nav-link clickable-item second-level text-uppercase planning-tools__heading">planning tools</p>
  <div class="sub-menu-collapsable second-level planning-tools__content">
      <img [src]="piggyImage" alt="planning tools" class="planning-tools__image">
      <p class="planning-tools__title">
          How much will you need?
      </p>
      <a class="planning-tools__link nav-link text-justify third-level" href="#">
          Use our online tool to help you plan for your future »
      </a>
  </div>
</div>