<main>
  <div class="container">
    <div class="blogpost">
      <div class="blogpost__item">
        <img src="dist/img/photo_16_mini.jpg" alt="blogpost" class="blogpost__image blogpost__image_rounded">

        <span class="blogpost__article-info">by Nick</span>
        <span class="blogpost__article-info">May 9, 2014</span>
        <span class="blogpost__article-info">Loreum</span>

        <h4 class="blogpost__heading-article">Heading</h4>
        <p>
          We'd like to share our experience and expertise with you. Speak to us if you would like to view a demonstration of our online
          solutions, or if you have any specific client projects that you would like to discuss.
        </p>
        <a href="#" class="lng-link hover-yellow not-underline-link d-iblock mt-1">read more »</a>
      </div>
      <div class="blogpost__item">
        <img src="dist/img/photo_17_mini.jpg" alt="blogpost" class="blogpost__image blogpost__image_rounded">

        <span class="blogpost__article-info">by Nick</span>
        <span class="blogpost__article-info">May 9, 2014</span>
        <span class="blogpost__article-info">Loreum</span>

        <h4 class="blogpost__heading-article">Heading</h4>
        <p>
          We'd like to share our experience and expertise with you. Speak to us if you would like to view a demonstration of our online
          solutions, or if you have any specific client projects that you would like to discuss.
        </p>
        <a href="#" class="lng-link hover-yellow not-underline-link d-iblock mt-1">read more »</a>
      </div>
      <div class="blogpost__item">
        <img src="dist/img/photo_18_mini.jpg" alt="blogpost" class="blogpost__image blogpost__image_rounded">

        <span class="blogpost__article-info">by Nick</span>
        <span class="blogpost__article-info">May 9, 2014</span>
        <span class="blogpost__article-info">Loreum</span>

        <h4 class="blogpost__heading-article">Heading</h4>
        <p>
          We'd like to share our experience and expertise with you. Speak to us if you would like to view a demonstration of our online
          solutions, or if you have any specific client projects that you would like to discuss.
        </p>
        <a href="#" class="lng-link hover-yellow not-underline-link d-iblock mt-1">read more »</a>
      </div>
      <div class="blogpost__item">
        <img src="dist/img/photo_13.jpg" alt="blogpost" class="blogpost__image blogpost__image_rounded">

        <span class="blogpost__article-info">by Nick</span>
        <span class="blogpost__article-info">May 9, 2014</span>
        <span class="blogpost__article-info">Loreum</span>

        <h4 class="blogpost__heading-article">Heading</h4>
        <p>
          We'd like to share our experience and expertise with you. Speak to us if you would like to view a demonstration of our online
          solutions, or if you have any specific client projects that you would like to discuss.
        </p>
        <a href="#" class="lng-link hover-yellow not-underline-link d-iblock mt-1">read more »</a>
      </div>
      <div class="blogpost__item">
        <img src="dist/img/photo_19_mini.jpg" alt="blogpost" class="blogpost__image blogpost__image_rounded">

        <span class="blogpost__article-info">by Nick</span>
        <span class="blogpost__article-info">May 9, 2014</span>
        <span class="blogpost__article-info">Loreum</span>

        <h4 class="blogpost__heading-article">Heading</h4>
        <p>
          We'd like to share our experience and expertise with you. Speak to us if you would like to view a demonstration of our online
          solutions, or if you have any specific client projects that you would like to discuss.
        </p>
        <a href="#" class="lng-link hover-yellow not-underline-link d-iblock mt-1">read more »</a>
      </div>
      <div class="blogpost__item">
        <img src="dist/img/photo_20_mini.jpg" alt="blogpost" class="blogpost__image blogpost__image_rounded">

        <span class="blogpost__article-info">by Nick</span>
        <span class="blogpost__article-info">May 9, 2014</span>
        <span class="blogpost__article-info">Loreum</span>

        <h4 class="blogpost__heading-article">Heading</h4>
        <p>
          We'd like to share our experience and expertise with you. Speak to us if you would like to view a demonstration of our online
          solutions, or if you have any specific client projects that you would like to discuss.
        </p>
        <a href="#" class="lng-link hover-yellow not-underline-link d-iblock mt-1">read more »</a>
      </div>
    </div>
    <section class="sidebar">
      <div class="sidebar__item">
        <h4 class="sidebar__heading">Recent Posts</h4>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">The Happiest Place »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Elegant Icon Font »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">The Sweet Life »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Golden Meadow »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Award Winning Film »</a>
      </div>
      <div class="sidebar__item">
        <h4 class="sidebar__heading">Recent Comments</h4>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">The Happiest Place »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Elegant Icon Font »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">The Sweet Life »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Golden Meadow »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Award Winning Film »</a>
      </div>
      <div class="sidebar__item">
        <h4 class="sidebar__heading">Archives</h4>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">May 2014 »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">April 2014 »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">The Sweet Life »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">March 2014 »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">February 2014 »</a>
      </div>
    </section>
  </div>
  <div class="paging paging_margin-bottom">
    <span class="paging__overview">Page
      <span class="paging__current">1</span> of
      <span class="paging__all">3</span>
    </span>
    <a href="#" class="paging__page">1</a>
    <a href="#" class="paging__page">2</a>
    <a href="#" class="paging__page">3</a>
    <a href="#" class="paging__link">»</a>
  </div>
</main>