<main>
  <div class="container">
    <div  class="blogpost">

      <div *ngFor="let item of blogpostItems" class="blogpost__item">
        <img [src]="makeImagePath(item.image)" alt="blogpost" class="blogpost__image blogpost__image_rounded">
         <div [ngStyle]="{'background': 'url(' + item.image + ') no-repeat','background-size': 'cover'}"></div>
          
         <div class="blogpost__article-info-wrapper">
            <span class="blogpost__article-info">{{ item.articleInfo.author }}</span>
            <span class="blogpost__article-info">
              {{ item.articleInfo.date.month }}
              {{ item.articleInfo.date.day }},
              {{ item.articleInfo.date.year }}
            </span>
          </div>

        <h4 class="blogpost__heading-article"> {{ item.title }} </h4>
        <p>
          {{ item.text }}
        </p>
        <a href="#" class="lng-link hover-yellow not-underline-link d-iblock mt-1">read more »</a>
      </div>

    </div>
    <section class="sidebar">
      <div class="sidebar__item">
        <h4 class="sidebar__heading">Recent Posts</h4>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">The Happiest Place »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Elegant Icon Font »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">The Sweet Life »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Golden Meadow »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Award Winning Film »</a>
      </div>
      <div class="sidebar__item">
        <h4 class="sidebar__heading">Recent Comments</h4>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">The Happiest Place »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Elegant Icon Font »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">The Sweet Life »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Golden Meadow »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">Award Winning Film »</a>
      </div>
      <div class="sidebar__item">
        <h4 class="sidebar__heading">Archives</h4>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">May 2014 »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">April 2014 »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">The Sweet Life »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">March 2014 »</a>
        <a href="#" class="lng-link hover-yellow not-underline-link mt-1">February 2014 »</a>
      </div>
    </section>
  </div>
  <app-pagination></app-pagination>
</main>