<main>
  <div class="content-top content-top_max-height">
    <div class="visible-xs content-top__step-window content-top__step-window_static-xs">
      <h2 class="content-top__heading text-primary">Planning tools</h2>
    </div>
    <img [src]="contentTopImage" alt="On your way" class="content-top__image">

    <div class="container content-top__step-window">
        <h2 class="content-top__heading hidden-xs">Planning tools</h2>
        <p class="content-top__greetings-text content-top__greetings-text_sm-padding-right">Use our planning tool to see how much you could save towards your future by cutting one cup of coffee per week. <button class="lng-button">Plan now »</button></p>
    </div>
  </div>

  <div class="bg-gray-light">
      <div class="container content-center">
          <p><b>It can be easy to lose touch with your pension savings as life gets busier. You should try and keep an eye on your pension
          pot as you get on with other things too. This doesn't mean you constantly have to change things, but it's a good idea to
          check in regularly to make sure everything is ticking along as you'd like it to.</b></p><br/>
          
          <p>Life events, like having children or buying your dream house, can have an impact on your finances, but can also significantly
          change your future plans. At this stage of your savings journey, you should be taking some time to think about your investment
          choices, make sure you're paying enough in and re-evaluate your goals every now and again as your circumstances change.</p>
      </div>
  </div>
  <div class="content-bottom">
    <p class="container content-bottom__top-text">
      Busy saving for your future? Here's what you need to know to ge the most out of your pension scheme. Remember to check back
      for new updates and tools.
    </p>
    <app-image-carousel></app-image-carousel>

    <app-info-block></app-info-block>
  </div>
</main>