<div class="container steps">
  <div class="steps-header">
    <div class="steps-header__board">the pension journey</div>
    <p class="steps-header__text visible-xs">
      As a valued member of the pensions scheme, we want to make sure you can access all the information you need.
    </p>
  </div>
  <div class="pull-left hidden-xs steps-photo">
    <img class="steps-photo__first" [src]="stepPhotoHeaderPath" alt="steps-photo">
    <div class="steps-photo__message">As a valued member of the pensions scheme, we want to make sure you can access all the information you need.</div>
    
    <img *ngFor='let path of photoPathList; let i = index'
        class="steps-photo__second"
        [src]="path" alt="steps-photo"
        [class.active]="activeStep == i && selectedItem != null">
  </div>

  <div class="step-items">
    
    <div *ngFor="let step of stepList; let i = index"
    class="step-item"
    [class.active]="step == selectedItem"
    (click)="onSelect(step, i)">
      <div class="step-item__header">
        <p class="step-item__heading">Step {{ i + 1 }}</p>
        <p class="step-item__about-text">{{step.heading}}
          <span class="lng-chevron"> »</span>
          <span (click)="closeItem($event)" class="step-item__close-button"></span>
        </p>
        <div class="step-item__triangle-helper"></div>
        <div class="step-item__header-image"></div>
      </div>
      <div class="step-item__content">
        <p class="step-item__title mb-1">
            {{step.title}}
        </p>
        <p *ngIf="step.text" class="step-item__main-text">
            {{step.text}}
        </p>
        <ul *ngIf="step.list" class="step-item__list blue-dots-list mb-1">
          <li *ngFor="let text of step.list">
            <span>{{ text }}</span>
          </li>
        </ul>

        <button [class.mb-1]="step.hasPlanningTools" class="lng-button mt-1">Learn more</button>

        <app-planning-tools *ngIf="step.hasPlanningTools"></app-planning-tools>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="steps-footer"></div>
</div>
