@import "app/app.component";

body {
  font-size: 16px;
  color: $black;
  margin: 0;
}

body,
p,
span,
a,
h1,
h2,
h3,
h4,
input,
button {
  font-family: 'Arial';
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h4 {
  margin-bottom: 5px;
}

h1 {
  font-size: 64px;
  line-height: 1;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 20px;
}

@media screen and (max-width: $sm-max) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: $xs-max) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
}

a,
button {
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.clickable-item {

  @media screen and (max-width: $xs-max) {
    &>a {
      &:after {
        content: '';
        width: 25px;
        height: 25px;
        top: 0;
        bottom: 0;
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        right: 20px;
        background: url('./app/components/shared/images/plus-black.png') no-repeat;
        @include background-size(cover);
      }
    }    
    &.active {
      >a {
        &:after {
          background: url('./app/components/shared/images/minus-black.png') no-repeat;
          @include background-size(cover);
        }
        >.lng-chevron {
          display: none;
        }
      }
    }
  }
  .submenu-triangle {
    position: absolute;
    width: 39px;
    height: 18px;
    margin: auto;
    top: 0;
    bottom: -34px;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
    @include box-shadow(0,
    16px,
    10px,
    -17px,
    rgba(0,
    0,
    0,
    0.5));
    &:after {
      content: "";
      position: absolute;
      width: 27px;
      height: 27px;
      background: $white;
      transform: rotate(45deg);
      top: 6px;
      left: 6px;
      @include box-shadow(-2px,
      -2px,
      10px,
      -2px,
      rgba(0,
      0,
      0,
      0.5));
    }
  }
}